<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKGROUND_PORTRAIT</key>
	<string></string>
	<key>BACKGROUND_LANDSCAPE</key>
	<string></string>
	<key>LINK</key>
	<string>http://endoman.global.customedialabs.com/endomanjsongenerator</string>
</dict>
</plist>
